html,
body {
    height: 100%;
}

.angular-google-map,
.angular-google-map-container {
    width: 100%;
    height: 100%;
}

.evcl-full-height {
    height: 100%;
}

.evcl-flex-direction-column {
    display: flex;
    flex-direction: column;
}

.evcl-header-bar {
    padding: 15px;
    background-color: #000e52;
}

.evcl-app-title {
    font-family: serif;
    font-size: 23px;
    margin-left: 15px;
    color: #6991fd;
    font-variant: small-caps;
}

.evcl-app-icon {
    height: 45px;
}

.evcl-flex-align-center {
    display: flex;
    align-items: center;
}

.evcl-ng-view-container {
    flex: 1;
}

.evcl-border-solid {
    border: 1px solid black;
}

.evcl-flex {
    display: flex;
}

.evcl-charging-location-info-pane-container {
    padding: 15px;
    width: 350px;
}

.evcl-info-segment {
    margin-bottom: 25px;
}

.evcl-info-segment-title {
    font-weight: bold;
}

.evcl-info-icon {
    height: 23px;
    margin-left: 3px;
}

.evcl-table-row-odd {
    background-color: #f1f1f1;
}

table, td  {
    padding: 5px;
}

.evcl-table-border  {
    border: 1px solid grey;
    border-collapse: collapse;
}