/* TODO consider using LESS.js for more maintainable CSS */

html,
body {
    height: 100%;
}

table, td  {
    padding: 5px;
}

.angular-google-map,
.angular-google-map-container {
    width: 100%;
    height: 100%;
}

.evcl-full-height {
    height: 100%;
}

.evcl-flex-direction-column {
    display: flex;
    flex-direction: column;
}

.evcl-header-bar {
    padding: 15px;
    background-color: #000e52;
}

.evcl-app-title {
    font-family: serif;
    font-size: 23px;
    margin-left: 15px;
    color: #6991fd;
    font-variant: small-caps;
}

.evcl-app-icon {
    height: 45px;
}

.evcl-flex-align-center {
    display: flex;
    align-items: center;
}

.evcl-border-solid {
    border: 1px solid black;
}

.evcl-flex {
    display: flex;
}

.evcl-charging-location-info-pane-child-container {
    padding: 15px;
}

.evcl-info-segment {
    margin-bottom: 25px;
}

.evcl-info-segment-title {
    font-weight: bold;
}

.evcl-info-icon {
    height: 23px;
    margin-left: 3px;
}

.evcl-table-row-odd {
    background-color: #f1f1f1;
}

.evcl-table-border  {
    border: 1px solid grey;
    border-collapse: collapse;
}

.evcl-button {
    background-color: #fd7567;
    border: none;
    color: white;
    padding: 7px;
    text-decoration: none;
}

.evcl-button:focus {
    outline: 0;
}

.evcl-button:hover {
    -webkit-transform: scale(1.03);
}

.evcl-device-name {
    padding: 15px;
    color: white;
    text-align: center;
    background-color: #fd7567;
}

.evcl-break-word {
    word-break: break-all;
}

.evcl-info-pane-helper-txt {
    padding: 80px;
    text-align: center;
    color: grey;
}

.evcl-about-link {
    margin-left: auto;
    color: white;
    text-decoration: none;
}

.evcl-about-link:hover {
    -webkit-transform: scale(1.1);
}

.evcl-home-link {
    text-decoration: none;
}

.evcl-home-link:hover {
    transform-origin: left;
    -webkit-transform: scale(1.01);
}

.evcl-about-container {
    padding: 15px;
    color: grey;
}

.evcl-connector-type-filter {
    padding: 5px 5px 5px 10px;
}

.evcl-flex-fill-free-space {
    flex: 1;
}

/* Responsive CSS for smaller viewports */
@media screen and (max-width: 600px) {
    .evcl-home-container {
        flex-direction: column;
    }

    .evcl-charging-location-info-pane-container {
        width: 100%;
        height: 250px;
        overflow: auto;
    }
}

@media screen and (min-width: 600px) {
    .evcl-charging-location-info-pane-container {
        width: 350px;
    }
}