<div class="evcl-full-height evcl-flex">
    <ui-gmap-google-map class="evcl-full-height"
                        center='map.center'
                        zoom='map.zoom'
                        events="map.events">
        <ui-gmap-marker
                ng-repeat="marker in markers"
                coords="marker.coords"
                options="marker.options"
                events="markerEvents"
                idkey="marker.id">
        </ui-gmap-marker>
    </ui-gmap-google-map>

    <charging-location-info-pane
            data="selectedChargeDevice"
            show-directions-callback="showDirections">
    </charging-location-info-pane>
</div>