<div class="evcl-about-container">
    <span>
        This app shows a map of electric vehicle charging locations in the UK.<br/>
        The data has been filtered to show only the charging locations that are free from access restrictions that do not require a subscription.<br/>
        <br/>
        Data provided by <a target="_blank" href="https://data.gov.uk/dataset/national-charge-point-registry">data.gov.uk/dataset/national-charge-point-registry</a>.
        <br/>
        <br/>
        If you have any questions or wish to report any bugs then email eddiegrahamdev@gmail.com.
    </span>
</div>
